# Dependências
node_modules/
.next/

# Variáveis de ambiente
.env*.local
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
out/
dist/

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db